/* REGOLE RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
a {
  text-decoration: none;
  color: inherit;
}

/* REGOLE UTILITY */
.container {
  max-width: 1000px;
  margin: 0 auto;
  font-family: Arial, Helvetica, sans-serif;
}
/* .row {
  display: flex;
} */

/* PER VEDERE I CONTAINER */
/* .debug * {
  min-height: 50px;
  padding: 5px;
  background-color: rgba(255, 0, 0, 0.236);
  border: 2px dashed red;
} */

/* GRIGLIA DI COLONNE */
.content-info,
.content-links,
.content-main {
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.row {
  display: flex;
  flex-wrap: wrap;
  row-gap: 1rem;

  margin-left: -0.5rem;
  margin-right: -0.5rem;
}

[class*="col"] {
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

.col-1-2 {
  width: calc(100% / 2);
}

/* HEADER */
.header-logo {
  width: 4rem;
}
.content-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 1rem;
  margin-bottom: 1rem;
}
.header-link {
  margin-right: 2rem;
  font-size: 0.6rem;
  font-weight: 600;
}

/* MAIN */
.background-main {
  background-color: #1c1c1c;
}
.background-teenTitans {
  background-image: url(/p_img/jumbotron.jpg);
}
.content-main {
  text-align: center;
  color: white;
  padding-top: 1rem;
  padding: 1rem;
}
.current-series {
  padding: 0.5rem;
  color: white;
  font-weight: 600;
  font-size: 0.6rem;
  background-color: #0082f9;
  border: 2px solid #0082f9;
  padding-right: 4rem;
  width: 2rem;
}

/* INFO */
.background-info {
  background-color: #0082f9;
}
.c-info {
  display: flex;
  justify-content: center;
  align-items: center;
}
.c-info img {
  width: 2.5rem;
}
.c-info:nth-child(4) img {
  width: 2rem;
}
.c-info h4 {
  font-size: 0.6rem;
  color: white;
  padding-left: 1rem;
  font-weight: 100;
}
.r-info {
  justify-content: space-around;
}

/* FOOTER */
/* LINKS PART */
.background-links {
  background-image: url(/p_img/footer-bg.jpg);
}

.content-links {
  display: flex;
  justify-content: space-between;
}
.content-links img {
  width: 10rem;
}
.nav-footer a {
  display: block;
}
.footer-link {
  font-size: 0.6rem;
  color: #627879;
  padding-top: 0.3rem;
  padding-bottom: 0.3rem;
}
.c-footer h5 {
  color: white;

  padding-bottom: 1rem;
}
/* SOCIALS PART */
.background-socials {
  background-color: #303030;
}
.content-socials {
  padding-top: 2rem;
  padding-bottom: 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.content-socials button {
  padding: 0.8rem;
  color: white;
  background-color: transparent;
  border: 2px solid #0082f9;
}
.socials {
  display: flex;
  justify-content: center;
  align-items: center;
}
.socials h4 {
  color: #0082f9;
  padding-right: 1rem;
}
.socials img {
  margin-right: 0.7rem;
  width: 1.5rem;
}

/* ALERT */
.alert {
  border: 1px solid rgb(0, 0, 0);
  border-radius: 10px;
  padding: 1rem;
  text-align: center;
  margin-top: 1rem;
  margin-bottom: 1rem;
}
.alert-info {
  color: rgb(126, 201, 241);
  background-color: blue;
  border: blue;
}

/* COMIC CARD */
.card {
  color: white;
  text-transform: uppercase;
}
.card-image img {
  width: 6rem;
  height: 7rem;
}
.card-content {
  font-size: 0.5rem;
  padding-top: 0.8rem;
  padding-bottom: 0.8rem;
}
.content-button {
  display: flex;
  justify-content: center;
}
.content-button button {
  padding: 0.5rem;
  color: white;
  font-weight: 600;
  font-size: 0.6rem;
  background-color: #0082f9;
  border: 2px solid #0082f9;
  margin-bottom: 1rem;
  padding-left: 3rem;
  padding-right: 3rem;
}
